WebContent/wsdl/Operaciones.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webServices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webServices" xmlns:intf="http://webServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webServices" xmlns="http://www.w3.org/2001/XMLSchema">
   211q3wgef<element name="Suma">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="SumaResponse">
    <complexType>
     <sequence>
      <element name="SumaReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="Resta">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="RestaResponse">
    <complexType>
     <sequence>
      <element name="RestaReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="RestaRequest">

      <wsdl:part element="impl:Resta" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SumaRequest">

      <wsdl:part element="impl:Suma" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="RestaResponse">

      <wsdl:part element="impl:RestaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="SumaResponse">

      <wsdl:part element="impl:SumaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Operaciones">

      <wsdl:operation name="Suma">

         <wsdl:input message="impl:SumaRequest" name="SumaRequest">

       </wsdl:input>

         <wsdl:output message="impl:SumaResponse" name="SumaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="Resta">

         <wsdl:input message="impl:RestaRequest" name="RestaRequest">

       </wsdl:input>

         <wsdl:output message="impl:RestaResponse" name="RestaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OperacionesSoapBinding" type="impl:Operaciones">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Suma">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SumaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="SumaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="Resta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="RestaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="RestaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OperacionesService">

      <wsdl:port binding="impl:OperacionesSoapBinding" name="Operaciones">

         <wsdlsoap:address location="http://localhost:8080/WebServiceProject/services/Operaciones"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
